.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.container-change {
	min-height: 100%;
	position: relative;
}
.footer-change {
	position: absolute;
}
form div {
	margin-bottom: 20px;
}

.input {
	margin-left: 30px;
}

.label {
	width: 60px;
}

.ul-margin-change {
	margin-bottom: 0;
}

.card-border {
	border-radius: 15px;
}

.card-responsive {
	width: 800px;
}
.reply-hover:hover {
	color: rgb(23 122 183) !important;
}

/* .card-footer {
	display: flex;
	background-color: white;
} */

.form-control-change {
	border-radius: 0.8rem !important;
}

.btn-change {
	border-radius: 0.5rem !important;
}

.img-animated {
	/* width: auto;height: 180px;*/
	height: auto;
	max-width: 75%;
}

.img-animated-gif {
	width: auto;
	height: 120px;
}

.card-body-change {
	padding: 0.5rem 1rem 0.5rem 1rem;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.125);*/
}

.card-body-header {
	/*
	line-height: 1px;
	color: #5d5f60;*/
	color: rgba(17, 55, 93, 1);
	font-weight: 500;
	font-size: 12px;
}

.h3-change {
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	border-radius: 0.25rem;
	color: rgba(17, 55, 93, 1);
	color: #dc3545;
	background-color: rgb(212, 233, 255);
	background-color: rgb(200 193 199 / 41%);
}

.padding-col {
	padding-left: 0 !important;
}
.p-change {
	font-size: 1rem;
}
p em {
	font-weight: 500;
	font-style: normal;
}
#comments-button-enabled {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

#comments-button-disabled {
	color: #000;
	background-color: #e4e8ed;
	border-color: #979ba0;
}
.bg-color {
	background-color: rgba(
		17,
		55,
		93,
		1
	); /*#11375d !important margin-bottom: -136px; .div-wrapper:after {
		content: "";
		display: block;
	}
	
	.div-wrapper:after {
		height: 136px;
	}*/
}
.div-wrapper {
	min-height: calc(100vh - 205px);
}

.card-body-comment {
	padding: 0.5rem 1rem;
}

.card-p-comment-num {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0rem 1rem;
	font-size: 0.8rem;
	color: rgb(37, 40, 122);
}
.card-section-actions {
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	color: #dee2e6;
}

.card-p-comment-num em {
	text-decoration: underline;
}

.card-p-comment {
	padding: 0.5rem 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	margin-bottom: 0;
	font-size: 0.8rem;
}

.card-article-comment {
	/*background-color: rgba(245, 126, 126, 0.968);
	background-color: rgba(243, 216, 216, 0.968);*/
	background-color: rgba(246, 236, 236, 0.968);
	background-color: rgb(238 238 238);
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 15px;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.card-article-post {
	background-color: rgb(212, 233, 255);
	background-color: rgb(238 238 238);
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 15px;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.grid-add {
	--bs-columns: 10;
	--bs-gap: 1rem;
}

.picture-change {
	width: 50px;
	height: 50px;
}

.font-change {
	font-weight: 600;
}

.overlay {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	background: rgba(249, 249, 249, 0.913);
	width: 500px;
	height: 400px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
	z-index: 10;
}
.hidden {
	display: none;
}
.cursor-change {
	cursor: pointer;
}

.overflow {
	text-overflow: ellipsis;
}

.icons-div-change {
	margin-bottom: -1rem;
	margin-right: -1rem;
}

.icons-change :hover {
	color: red;
}

.color-thumb :hover {
	color: #0d6efd;
}
.liked-blue {
	color: #0d6efd;
}

.margin-change {
	margin-bottom: 0;
}

.table-change {
	width: 60%;
}

@media screen and (max-width: 425px) {
	.card-responsive {
		width: 380px;
	}
	.p-change-responsive {
		font-size: 0.8rem;
	}
	.card-p-comment-num {
		height: 37px;
	}
	.icon-height {
		height: 0.8rem;
	}

	.div-responsive {
		display: flex;
		flex-direction: column;
	}

	.div-comment-responsive {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}

	.section-comment-responsive {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.section-responsive {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.button-responsive {
		width: 75% !important;
	}

	.input-responsive {
		width: 75% !important;
		margin-left: 0;
	}

	.modal-responsive {
		width: 90% !important;
	}
}
.table-change {
	width: 100%;
}
@media screen and (max-width: 376px) {
	.card-responsive {
		width: 350px;
	}
}
