.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

form div {
	margin-bottom: 20px;
}

.input {
	margin-left: 30px;
}

.label {
	width: 60px;
}

CSS .gradient-custom-3 {
	/* fallback for old browsers */
	background: #84fab0;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to right,
		rgba(241, 103, 93, 0.76),
		rgba(10, 16, 68, 0.26)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to right,
		rgba(241, 103, 93, 0.76),
		rgba(10, 16, 68, 0.26)
	);
}
.gradient-custom-4 {
	/* fallback for old browsers */
	background: #84fab0;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to right,
		rgba(241, 103, 93, 0.76),
		rgba(10, 16, 68, 0.26)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to right,
		rgba(241, 103, 93, 0.76),
		rgba(197, 27, 15, 0.76)
	);
}

.card-border {
	border-radius: 15px;
}

.card-footer {
	display: flex;
}

.form-control-change {
	border-radius: 1rem;
}

.btn-change {
	border-radius: 0.5rem !important;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
